@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = String.Format( ViewBag.TitleTemplate, "Qui sommes-nous ?" );
}

@section Styles {
    <link rel="stylesheet" href="/css/about-us.min.css">
}

<div class="header-banner">
    <div class="photo" data-bg-img="/img/about-us.jpg"></div>
    <div class="content">
        <h1>Qui sommes-nous ?</h1>
        <p>
            Fusce in interdum magna. Curabitur sed nisl tempus ipsum congue viverra. Nulla facilisi. Nunc euismod dolor a nulla porta,
            iaculis condimentum ipsum euismod. Aenean semper, eros at gravida malesuada, nibh justo pellentesque nunc,
            at dapibus nisi magna at enim. Suspendisse non diam diam. Aenean et ex vel quam pulvinar volutpat.
        </p>
    </div>
</div>
<div class="container">
    <div class="centered-text-part">
        <h1 class="separator">Une entreprise en perpétuelle évolution</h1>
        <p>
            Sed auctor ut erat et tempus. Maecenas nisl tortor, congue vitae velit ac, semper rhoncus sapien. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi vulputate in mi eu laoreet. Suspendisse vehicula metus id ex eleifend
            accumsan. Nulla non tincidunt arcu. Nullam semper, neque sed iaculis tincidunt, neque sem convallis est,
            ut elementum diam lectus at risus. Suspendisse vel nisi nec tortor faucibus commodo. Fusce in eleifend dolor.
        </p>

        <div class="chrono as-table" data-role="chrono-layout">
            <div class="step as-row" data-role="step">
                <div class="name as-cell left">
                    2004
                </div>
                <div class="point as-cell hidden-xs">
                    <div class="shape" data-role="point"></div>
                </div>
                <div class="desc as-cell">
                    Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper. Quisque blandit ipsum quam, non feugiat est venenatis
                    a. Donec volutpat convallis neque at efficitur. Ut justo ex, fermentum in cursus sit amet, volutpat
                    non leo.
                </div>
            </div>
            <div class="as-row hidden-xs">
                <div class="as-cell"></div>
                <div class="as-cell step-link">
                    <div class="shape" data-role="steplink"></div>
                </div>
                <div class="as-cell"></div>
            </div>
            <div class="step as-row" data-role="step">
                <div class="name as-cell left">
                    2006
                </div>
                <div class="point as-cell hidden-xs">
                    <div class="shape" data-role="point"></div>
                </div>
                <div class="desc as-cell">
                    Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper.
                </div>
            </div>
            <div class="as-row hidden-xs">
                <div class="as-cell"></div>
                <div class="as-cell step-link">
                    <div data-role="steplink" class="shape"></div>
                </div>
                <div class="as-cell"></div>
            </div>
            <div class="step as-row" data-role="step">
                <div class="name as-cell left">
                    2010
                </div>
                <div class="point as-cell hidden-xs">
                    <div class="shape" data-role="point"></div>
                </div>
                <div class="desc as-cell">
                    Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper. Quisque blandit ipsum quam, non feugiat est venenatis
                    a. Donec volutpat convallis neque at efficitur. Ut justo ex, fermentum in cursus sit amet, volutpat
                    non leo. Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper.
                </div>
            </div>
            <div class="as-row hidden-xs">
                <div class="as-cell"></div>
                <div class="as-cell step-link">
                    <div data-role="steplink" class="shape"></div>
                </div>
                <div class="as-cell"></div>
            </div>
            <div class="step as-row" data-role="step">
                <div class="name as-cell left">
                    2016
                </div>
                <div class="point as-cell hidden-xs">
                    <div class="shape" data-role="point"></div>
                </div>
                <div class="desc as-cell">
                    Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper. Quisque blandit ipsum quam, non feugiat est venenatis
                    a. Donec volutpat convallis neque at efficitur. Ut justo ex, fermentum in cursus sit amet, volutpat
                    non leo. Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="text-with-photo">
        <h1 class="separator">Une équipe experte et passionnée</h1>
        <div class="as-table">
            <div class="as-row">
                <div class="as-cell content">
                    <p>
                        Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper. Quisque blandit ipsum quam, non feugiat est venenatis
                        a. Donec volutpat convallis neque at efficitur. Ut justo ex, fermentum in cursus sit amet, volutpat
                        non leo. Nunc quis ante libero. Phasellus efficitur efficitur est non gravida. Quisque vel dolor
                        fermentum, cursus elit eget, vehicula est. Nulla consectetur enim posuere, vestibulum velit porttitor,
                        vehicula ante.
                    </p>
                    <p>
                        Donec vel quam ante. Pellentesque luctus, erat eget consectetur semper, risus justo ultrices lectus, id mattis augue sapien
                        quis urna. Praesent at dui et metus maximus tincidunt. Vestibulum iaculis imperdiet quam, vel
                        mattis ex consectetur vitae. Sed mollis, augue et cursus bibendum, est tortor hendrerit mauris,
                        ac ultricies massa risus vitae metus.
                    </p>
                </div>
                <div class="as-cell photo">
                    <img src="/img/drawing-man.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="quote-block">
    <div class="container">
        <div class="open-quote"></div>
        <p>
            Maecenas consectetur lacus sed nibh iaculis, sed interdum ligula semper. Quisque blandit ipsum quam, non feugiat est venenatisa.
        </p>
        <div class="author">Olivier Spinelli, Gérant</div>
        <div class="close-quote"></div>
    </div>
</div>
<div class="container">
    <div class="centered-text-part reasons-block">
        <h1 class="separator">Invenietis en chiffres</h1>
        <div class="row">
            <div class="col-sm-4 keydata">
                <div class="high">Nous avons réalisé</div>
                <div class="number">345</div>
                <div class="low">projets</div>
            </div>
            <div class="col-sm-4 keydata">
                <div class="high">Une équipe de</div>
                <div class="number">9</div>
                <div class="low">collaborateurs passionnés</div>
            </div>
            <div class="col-sm-4 keydata">
                <div class="high">Un chiffre d'affaire de</div>
                <div class="number">200 000 000 €</div>
                <div class="low">par an</div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="centered-text-part">
        <div class="membership">
            <a href="#"><img src="/img/syntec.png" /></a>
            <a href="#"><img src="/img/microsoftpartner.png" /></a>
        </div>
    </div>
</div>