@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = String.Format( ViewBag.TitleTemplate, "Conseil" );
}

@section Styles {
    <link rel="stylesheet" href="/css/job.min.css">
}


<div class="header-banner">
    <div class="photo" data-bg-img="/img/82.jpg"></div>
    <div class="content">
        <h1>Conseil</h1>
        <p>
            Fusce in interdum magna. Curabitur sed nisl tempus ipsum congue viverra. Nulla facilisi. Nunc euismod dolor a nulla porta,
            iaculis condimentum ipsum euismod. Aenean semper, eros at gravida malesuada, nibh justo pellentesque nunc,
            at dapibus nisi magna at enim. Suspendisse non diam diam. Aenean et ex vel quam pulvinar volutpat.
        </p>
    </div>
</div>

<div class="container">
    <div class="text-part check-list">
        <h1 class="separator">Le conseil selon Invenietis</h1>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tortor erat, pretium ac porttitor vitae, ultrices ut ex. Vivamus
            aliquet gravida tristique. Pellentesque molestie scelerisque arcu. Fusce quis nunc vel tortor hendrerit vulputate.
            Phasellus efficitur nisi mauris, nec tempus enim ultricies vel. Aenean finibus mollis justo, non egestas
            odio posuere vel. Curabitur at suscipit enim. Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Curabitur quis porta est. Donec tincidunt ultricies mi quis tincidunt.
        </p>

        <ul>
            <li>
                <h3>Donec in viverra mauris.</h3>
                <br /> Fusce aliquam, ex id rutrum sagittis, nisl tellus rhoncus eros, eget rhoncus sapien arcu in erat. Etiam
                sed nisl est. Proin vitae imperdiet enim. Vestibulum quis interdum purus. Mauris imperdiet mi ac mauris
                semper maximus. Integer sed consequat nisl.
            </li>
            <li>
                <h3>Fusce in interdum magna.</h3>
                <br /> Curabitur sed nisl tempus ipsum congue viverra. Nulla facilisi. Nunc euismod dolor a nulla porta, iaculis
                condimentum ipsum euismod. Aenean semper, eros at gravida malesuada, nibh justo pellentesque nunc, at
                dapibus nisi magna at enim. Suspendisse non diam diam. Aenean et ex vel quam pulvinar volutpat.
            </li>
            <li>
                <h3>Sed auctor ut erat et tempus.</h3>
                <br /> Maecenas nisl tortor, congue vitae velit ac, semper rhoncus sapien. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Morbi vulputate in mi eu laoreet. Suspendisse vehicula metus id ex eleifend accumsan.
                Nulla non tincidunt arcu.
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="centered-text-part">
        <h1 class="separator">Références</h1>

        <div class="references">
            <a href="#"><img src="/img/refs/clefverte.jpg" /></a>
            <a href="#"><img src="/img/refs/pavillonbleu.jpg" /></a>
            <a href="#"><img src="/img/refs/engie.jpg" /></a>
            <a href="#"><img src="/img/refs/esiea.png" /></a>
            <a href="#"><img src="/img/refs/intech.jpg" /></a>
        </div>
    </div>
</div>