@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = String.Format( ViewBag.TitleTemplate, "R&D" );
}

@section Styles {
    <link rel="stylesheet" href="/css/job.min.css">
}

<div class="header-banner">
    <div class="photo" data-bg-img="/img/27.jpg"></div>
    <div class="content">
        <h1>Recherche et développement</h1>
        <p>
            Fusce in interdum magna. Curabitur sed nisl tempus ipsum congue viverra. Nulla facilisi. Nunc euismod dolor a nulla porta,
            iaculis condimentum ipsum euismod. Aenean semper, eros at gravida malesuada, nibh justo pellentesque nunc,
            at dapibus nisi magna at enim. Suspendisse non diam diam. Aenean et ex vel quam pulvinar volutpat.
        </p>
    </div>
</div>

<div class="container">
    <div class="centered-text-part">
        <h1 class="separator">La R&D chez Invenietis</h1>

        <p>
            Tous les projets que nous avons réalisés nous ont permis d’<b>améliorer nos méthodes, nos réflexions et nos solutions</b>, chacun
            à leurs mesures et avec leurs spécificités. Nous ne cherchons pas LA réponse mais sélectionnons les plus
            adaptées à chaque situation, avec <b>le souci permanent de leur pérennité et de leur évolutivité</b>. Les différentes
            approches modulaires que nous avons conçues et appliquées avec succès dans nos projets se concrétisent en
            un ensemble de <b>composants logiciels et d’outils qualifiés</b>. Ces composants, issus de notre R&D ou externes,
            optimisés pour fonctionner ensemble, <b>accélèrent et sécurisent</b> les nouveaux développements.
        </p>
    </div>
</div>
