# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults
MvcApplication1.v11.suo
MvcApplication1/MvcApplication1.csproj.user
packages/
*.suo
*.csproj.user
*.pubxml.user
Invenietis.sln.ide
Private
