# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
artifacts/

# MSTest test results
TestResults

# Packages
packages/
node_modules/

# User files
*.suo
*.csproj.user
*.pubxml.user
*.xproj.user
Invenietis.sln.ide
Private
.vs/

# Minified files
*/wwwroot/js/*.min.js
*/wwwroot/css/