<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Public repositories -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Invenietis_MyGet_Preview" value="https://www.myget.org/F/invenietis-preview/api/v2/" /> 
    <!-- Private repositories -->
    <!-- .NET Core's dotnet restore command doesn't currently support encrypted credentials. -->
    <!-- The credentials below in packageSourceCredentials expire in March 2018. -->
    <add key="Invenietis_VSTS_Release" value="https://invenietis.pkgs.visualstudio.com/_packaging/InvenietisRelease/nuget/v3/index.json" />
    <add key="Invenietis_VSTS_Preview" value="https://invenietis.pkgs.visualstudio.com/_packaging/InvenietisPreview/nuget/v3/index.json" />
    <add key="Invenietis_VSTS_Legacy" value="https://invenietis.pkgs.visualstudio.com/_packaging/InvenietisLegacy/nuget/v3/index.json" />
    <add key="LocalFeed" value="c:\localfeed" />
  </packageSources>
  <packageSourceCredentials>
    <!-- .NET Core's dotnet restore command doesn't currently support encrypted credentials. -->
    <!-- These expire in March 2018. -->
    <Invenietis_VSTS_Release>
      <add key="Username" value="benjamin.crosnier@invenietis.com" />
      <add key="ClearTextPassword" value="skdzfyjdsebklk6afffnje2rucyfcyjkzv3dbfblwfm4vxcvnwva" />
    </Invenietis_VSTS_Release>
    <Invenietis_VSTS_Preview>
      <add key="Username" value="benjamin.crosnier@invenietis.com" />
      <add key="ClearTextPassword" value="skdzfyjdsebklk6afffnje2rucyfcyjkzv3dbfblwfm4vxcvnwva" />
    </Invenietis_VSTS_Preview>
    <Invenietis_VSTS_Legacy>
      <add key="Username" value="benjamin.crosnier@invenietis.com" />
      <add key="ClearTextPassword" value="skdzfyjdsebklk6afffnje2rucyfcyjkzv3dbfblwfm4vxcvnwva" />
    </Invenietis_VSTS_Legacy>
  </packageSourceCredentials>
</configuration>