@model InvPortal.Models.SupportEmailViewModel

<div class="bg-danger mail-sent">
    <h3 style="color: #CC0000;">Oops !</h3>
    <span>
        An error has occurred and your message has not been sent.<br />
        Please try again later or contact us directly at <b><a href="" class="contact-email-s">...</a></b>
    </span><br />
</div>
