@model Invenietis.Blog.BlogContext
@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Invenietis Blog";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}


<h2>Invenietis Blog</h2>

<div class="row-fluid">
            <div class="span12">
                <header class="landing-header top-bx backphoto">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12">
                                <h1 class="htitle">Invenietis Blog</h1>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
</div>
<div class="row-fluid">
            <div class="span12 orange double-bx">
                <section class="container">
                    <div class="row-fluid">

                         <p>
                                    @{var m = new Invenietis.Blog.BlogContext();
                                        var s = m.CreateBlogSource();
                                     s.CreateBlog( new Uri( "http://macdarwin.github.com/atom.xml" ) );
                                     }
                                     @foreach( var article in s.Articles )
                                    {
                                        var status = article.Status;
                                         if(status == Invenietis.Blog.BlogArticleStatus.Published)
                                          {
                                              article.PublishedInfo.TitleFR = "new title";
                                             @article.PublishedInfo.TitleFR
                                          }
                                         
                                     }
                                    </p>
                    </div>
                </section>
            </div>
        </div>

