@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Invenietis Blog";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}


<h2>Invenietis Blog</h2>

<div class="row-fluid">
            <div class="span12">
                <header class="landing-header top-bx backphoto">
                    <div class="container">
                        <div class="row-fluid">
                            <div class="span12">
                                <h1 class="htitle">Invenietis Blog</h1>
                            </div>
                        </div>
                    </div>
                </header>
            </div>
</div>

