@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Signature - Nous contacter";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}
@section header
{
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBknlrEwPyY3YZOZeHOszmVyu2iD1dHq-U&sensor=true"></script>
    <style type="text/css">
        #header-container
        {
            position: relative;
            z-index: 1000;
            -webkit-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
	        -moz-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
	        -o-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
	        -ms-box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
	        box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
        }
    </style>
}
    <div id="map_canvas"></div>
    <div class="row-fluid top-bx">
        <div class="span12 ">
            <section class="container">
                <div class="row-fluid htitle">
                    <div class="span12">
                        <h1>Contacts</h1>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span4 center">
                        <strong class="lead">Téléphone, email :</strong><br /><br />
                        <p class="center"><a href="" class="contact-email-s">...</a></p>
                        <p class="center">(+33) 1 84 16 19 99</p>
                    </div>
                    <div class="span4 center">
                        <strong class="lead">Centre technique :</strong><br /><br />
                        <address>
                            <strong>Signature Code</strong><br />
                            10, rue Mercoeur<br>
                            75011 - Paris<br>
                            France
                        </address>
                    </div>
                    <div class="span4 center">
                        <strong class="lead">Siège social :</strong><br /><br />
                        <address>
                            <strong>Signature SAS</strong><br />
                            29, avenue de l'industrie<br />
                            42390 - Villars<br />
                            France
                        </address>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="infomapTech">
        <div class="infomap">
            <address>
                <img src="/Content/images/marcker.png" alt="logo" />
                <strong>Signature Code</strong><br />
                10, rue Mercoeur<br>
                75011 - Paris<br>
                France
            </address>
            <a target="_blank" href="https://www.google.fr/maps/place/10+Rue+Mercoeur,+75011+Paris/48.8572848,2.381852,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66df5d828cd6f:0xa587361c2184b991!8m2!3d48.8572848!4d2.384046">Voir sur Google Maps</a>
        </div>
    </div>
    <div id="infomapHQ">
        <div class="infomap">
            <address>
                <img src="/Content/images/marcker.png" alt="logo" />
                <strong>Signature SAS</strong><br />                
                29, avenue de l'industrie<br />
                42390 - Villars<br />
                France
            </address>
            <a target="_blank" href="https://www.google.fr/maps/place/Signature/45.4714711,4.3559051,1155m/data=!3m1!1e3!4m13!1m7!3m6!1s0x47f5ac4d56252db3:0x492652c5833d6a24!2s29+Avenue+de+l'Industrie,+42390+Villars!3b1!8m2!3d45.4705343!4d4.3578728!3m4!1s0x47f5aeb2fb03b0bd:0x3e7c292eeffeab0e!8m2!3d45.4705328!4d4.3578713?hl=fr">Voir sur Google Maps</a>
        </div>
    </div>

@section js {
    <script type="text/javascript">
        $(function () {

            var code = "38,38,40,40,37,39,37,39,66,65";

            var styles = [
                {
                    featureType: "road.local",
                    stylers: [
                        { "hue": "#EE9A1D" },
                        { "saturation": 100 },
                        { "lightness": -20 }
                    ]
                }, {
                    featureType: "road.arterial",
                    stylers: [
                        { "hue": "#EE9A1D" },
                        { "saturation": 100 },
                        { "lightness": -17 }
                    ]
                }, {
                    elementType: "labels.text.stroke",
                    stylers: [
                      { visibility: "off" }
                    ]
                },
                {
                    featureType: "road",
                    elementType: "geometry",
                    stylers: [
                        { visibility: "simplified" }
                    ]
                }
            ];

            var mapOptions = {
                center: new google.maps.LatLng(48.86060033606661, 2.394239496108961),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: styles
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

            var image = new google.maps.MarkerImage("/Content/images/marcker-o.png",
                new google.maps.Size(38.0, 69.0),
                new google.maps.Point(0, 0),
                new google.maps.Point(19.0, 69.0)
            );
            var shadow = new google.maps.MarkerImage("/Content/images/shadow-o.png",
                new google.maps.Size(73.0, 69.0),
                new google.maps.Point(0, 0),
                new google.maps.Point(19.0, 69.0)
            );


            var bounds = new google.maps.LatLngBounds();

            var markerTech = new google.maps.Marker({
                position: new google.maps.LatLng(48.8572848, 2.384046),
                title: 'Signature Code',
                zoomControl: true,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: image,
                shadow: shadow
            });
            bounds.extend(markerTech.position);
            var markerHQ = new google.maps.Marker({
                position: new google.maps.LatLng(45.4717586, 4.3539772),
                title: 'Signature SAS',
                zoomControl: true,
                map: map,
                animation: google.maps.Animation.DROP,
                icon: image,
                shadow: shadow
            });
            bounds.extend(markerHQ.position);

            map.fitBounds(bounds);


            var infowindowTech = new google.maps.InfoWindow({
                content: $('#infomapTech').html(),
                width: 192,
                height: 115
            });
            var infowindowHQ = new google.maps.InfoWindow({
                content: $('#infomapHQ').html(),
                width: 192,
                height: 115
            });

            google.maps.event.addListener(markerTech, 'click', function () {
                infowindowTech.open(map, markerTech);
            });

            google.maps.event.addListener(markerHQ, 'click', function () {
                infowindowHQ.open(map, markerHQ);
            });

            var kkeys = []
            $(window).keydown(function (e) {
                for (kkeys.push(e.keyCode) ; kkeys.length > code.split(",").length;) kkeys.shift()
                if (("" + kkeys).indexOf(code) >= 0) {
                    _gaq.push(['_trackEvent', 'Map', 'KoCode']);
                    $(window).unbind("keydown", arguments.callee)
                    var o = new google.maps.LatLng(47, 28.55), n = new google.maps.MarkerImage("/Content/images/io.png", new google.maps.Size(75, 97), new google.maps.Point(0, 0), new google.maps.Point(37.5, 69))
                    new google.maps.Marker({ position: o, title: "!!!!!", zoomControl: !0, map: map, animation: google.maps.Animation.DROP, icon: n }), map.setOptions({ center: o, zoom: 5, mapTypeId: google.maps.MapTypeId.ROADMAP })
                }
            })
        });
    </script>
}