@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Mentions légales";
}

    <div class="row-fluid top-bx">
        <div class="span12 ">
            <section class="container">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>Mentions légales</h2>
                        <h3>Informations légales</h3>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6 well">
                        <h4>Editeur de ce Site :</h4>
                        <address>
                            <strong>Invenietis</strong><br />
                            23 rue pelleport<br />
                            75020 Paris<br />
                            FRANCE<br />
                            Tel : + 33 1 43 67 88 75
                        </address>
                        SARL au capital de 80 000 euros<br />
                        Code APE/NAF: 6201 Z - Programmation Informatique<br />
                        RCS Paris B 451 482 822<br />
                        TVA n° FR36 451 482 822<br />
                    </div>
                    <div class="span6 well">
                        <h4>Hébergeur de ce Site :</h4>
                        <address>
                            <strong>Naitways</strong><br />
                            NAITWAYS SAS<br />
                            Le Magellan - 7 rue Montespan<br />
                            91024 Évry CEDEX<br />
                            FRANCE
                        </address>
                        SAS au capital de 25.000 euros<br />
                        RCS Evry B 508 823 614<br />
                        <a href="http://naitways.com/">http://naitways.com/</a><br />
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12 well">
                        <h3>Informatique et libertés</h3>
                        Chaque internaute ayant fourni des informations personnelles par l'intermédiaire du Site disposent donc, conformément aux dispositions de la loi, des droits d'opposition, d'accès et de rectification de ces données. Invenietis s'engage en outre à prendre toutes précautions utiles afin de protéger les données à caractère personnel traitées par ses services, et notamment d'empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers non autorisés. Chaque internaute peut exercer ces droits en écrivant  un courrier électronique ou postal à :<br />
                        admin@invenietis.com<br />
                        ou <br />
                        Invenietis<br />
                        23 rue pelleport<br />
                        75020 Paris FANCE<br />
                    </div>
                </div>
            </section>
        </div>
    </div>