@{
    Layout = "~/Views/Shared/_Layout.fr.cshtml";
    ViewBag.Title = "Invenietis - Références";
    ViewBag.Keywords = "";
    ViewBag.Description = "";
}

@section header
{
    <style type="text/css">
        section.container h2 {
            text-align: left;
        }

        .top-bx {
            height: 300px;
        }
    </style>
}

<div class="row-fluid ">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Microsoft-Campus-Program.png" alt="Microsoft Campus Program">
                </div>
                <div class="span8">
                    <h2>Microsoft Campus Program</h2>

                    <p>Ce programme de partenariat est développé par Microsoft pour les établissements d'enseignement supérieur. Il permet notamment aux étudiants d'accéder à des PC et des tablettes à prix réduits. Notre équipe a développé le portail en 2012.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Groupe ESIEA</h2>

                    <p>Le groupe ESIEA est composé de deux écoles : ESIEA, école d'ingénieur et IN'TECH INFO, école supérieur en ingénierie informatique. Invenietis a développé le portail de candidature des écoles du groupe ainsi que l'extranet de gestion lié.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_ESIEA-gde-ecole.png" alt="Groupe ESIEA">
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Microsoft-Campus-Challenge.png" alt="Microsoft Campus Challenge">
                </div>
                <div class="span8">
                    <h2>Microsoft Campus Challenge</h2>

                    <p>Campus Challenge est un jeu-concours permettant aux étudiants adeptes des réseaux sociaux de gagner une tablette Surface après avoir eu entre leurs mains la tablette durant toute une semaine pour participer au jeu. Invenietis a développé une web-application mobile responsive, le portail de participation et de gestion du concours.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Orange 4G Battle</h2>

                    <p>4G Battle est un jeu-concours en ligne organisé par Orange à l'occasion du lancement de la 4G en France. Invenietis a développé une web-application mobile responsive, le portail de participation et de gestion du concours.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Orange.jpg" style="width: 200px; height: 200px;" alt="Orange 4G Battle">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Cofely.jpg" alt="Cofely">
                </div>
                <div class="span8">
                    <h2>Cofely</h2>

                    <p>Cofely conçoit, met en œuvre et exploite des solutions qui permettent aux entreprises et aux collectivités de mieux utiliser les énergies et de réduire leur impact environnemental. Invenietis a développé une application de gestion de contenu versionné pour l'outil d'aide à la vente des commerciaux de l'entreprise.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Pavillon Bleu</h2>

                    <p>Pavillon Bleu est un programme de la Fondation pour l'Education à l'Environnement en Europe. Cet écolabel permet de sensibiliser et de motiver les collectivités locales ou les gestionnaires de port de plaisance pour qu'ils prennent en compte le critère "environnement" dans leur politique de développement économique et touristique. Invenietis a développé le portail de candidature et de gestion des labellisations.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Pavillon-Bleu.jpg" alt="Pavillon Bleu">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_PAPV.jpg" alt="Plus d\'arbres, plus de vie'">
                </div>
                <div class="span8">
                    <h2>Plus d'abres, plus de vie</h2>

                    <p>Plus d'arbres, plus de vie est un programme de la Fondation pour l'Education à l'Environnement en Europe permettant de déclencher des plantations d'arbres et de créer une synergie locale entre différents acteurs. Invenietis a développé le portail de candidature et de gestion des commandes de plants.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Clef Verte</h2>

                    <p>Clef Verte est un programme de la Fondation pour l'Education à l'Environnement en Europe. Premier label environnemental international pour l'hébergement touristique écologique, ils nous ont fait confiance pour développer leur extranet de candidature et de gestion des labellisations.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_ClefVerte.jpg" style="width: 200px; height:200px;" alt="Clef Verte">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_AirCrewWorld.png" alt="Air Crew World">
                </div>
                <div class="span8">
                    <h2>Air Crew World</h2>

                    <p>Air Crew World est un réseau social qui permet aux personnes qui voyage beaucoup d'être mis en relation (personnels navigants, hommes et femmes d'affaire). Du conseil à la réalisation technique, Invenietis a entièrement développé la plateforme web du service.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Canal PCR</h2>

                    <p>Canal PCR permet aux cabinets de radiologie de piloter facilement leur dossier de radioprotection. Notre équipe a développé l'extranet permettant la gestion des dossiers.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Canal-PCR.png" alt="Canal PCR">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_CIO.png" alt="Olympic Journey">
                </div>
                <div class="span8">
                    <h2>Olympic Journey</h2>

                    <p>Olympic Journey est un site web documentaire qui retrace l'histoire des jeux olympique. Nous avons réalisé le back office proposant une gestion arborescente, multilingue ainsi que des médias associés (images / vidéos / applications flash).</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 top-bx approche">
        <section class="container">
            <div class="row-fluid">
                <div class="span8">
                    <h2>Agence Nationale pour le Service à la Personne</h2>

                    <p>L'Agence Nationale pour le Service à la Personne est un établissement public chargé de promouvoir le développement et la qualité du secteur des services à la personne en France. Invenietis a développé son portail web entre 2008 et 2013 (l'agence a depuis été fermée).</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_ANSP.jpg" alt="Agence Nationale pour le Service à la Personne">
                </div>
            </div>
        </section>
    </div>
</div>
<div class="row-fluid ">
    <div class="span12 top-bx">
        <section class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone" style="text-align:center">
                    <img src="~/content/images/references/logo_Naitways.png" alt="Naitways">
                </div>
                <div class="span8">
                    <h2>Naitways</h2>

                    <p>Naitways propose des solutions réseau, des solutions d’hébergement infogéré et des solutions de Cloud Computing privé managées. Ils nous ont fait confiance pour développer le back office qui leur permet aujourd'hui de suivre l'avancement de leurs projets.</p>
                    <p>Réalisé avec Javascript / C# ASP.NET MVC / SQL Server.</p>

                </div>
            </div>
        </section>
    </div>
</div>