<div id="footer" class="full-separator">
    <div id="bg-footer">
        <div id="bg-footer-output"></div>
        <div class="bg-shader-noise"></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1>Invenietis</h1>

                <p>
                    28 rue Godefroy Cavaignac
                    <br />75011 PARIS
                </p>

                <p>
                    <i class="glyphicon glyphicon-earphone"></i> 01 84 16 19 99
                </p>

                <p>
                    <i class="glyphicon glyphicon-envelope"></i> contact@invenietis.com
                </p>

            </div>

            <div class="col-sm-2 col-xs-6">
                <h1>A propos</h1>
                <ul>
                    <li><a href="#">Vestibulum</a></li>
                    <li><a href="#">Efficitur</a></li>
                    <li><a href="#">Luctus</a></li>
                    <li><a href="#">Mauris</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <h1>Nos métiers</h1>
                <ul>
                    <li><a href="#">Vestibulum</a></li>
                    <li><a href="#">Efficitur</a></li>
                    <li><a href="#">Luctus</a></li>
                    <li><a href="#">Mauris</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <h1>Réalisations</h1>
                <ul>
                    <li><a href="#">Vestibulum</a></li>
                    <li><a href="#">Efficitur</a></li>
                    <li><a href="#">Luctus</a></li>
                    <li><a href="#">Mauris</a></li>
                </ul>
            </div>

            <div class="col-sm-2 col-xs-6">
                <h1>Blog</h1>
                <ul>
                    <li><a href="#">Vestibulum</a></li>
                    <li><a href="#">Efficitur</a></li>
                    <li><a href="#">Luctus</a></li>
                    <li><a href="#">Mauris</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>