@font-face {
  font-family: 'conduit_itc-regular';
  src: url('fonts/conduit_itc-webfont.eot');
  src: url('fonts/conduit_itc-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/conduit_itc-webfont.woff') format('woff'), url('fonts/conduit_itc-webfont.ttf') format('truetype'), url('fonts/conduit_itc-webfont.svg#conduit_itcregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'conduit_itc_light-regular';
  src: url('fonts/conduit_itc_light-webfont.eot');
  src: url('fonts/conduit_itc_light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/conduit_itc_light-webfont.woff') format('woff'), url('fonts/conduit_itc_light-webfont.ttf') format('truetype'), url('fonts/conduit_itc_light-webfont.svg#conduit_itc_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'conduit_itc_light-italic';
  src: url('fonts/conduit_itc_light_italic-webfont.eot');
  src: url('fonts/conduit_itc_light_italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/conduit_itc_light_italic-webfont.woff') format('woff'), url('fonts/conduit_itc_light_italic-webfont.ttf') format('truetype'), url('fonts/conduit_itc_light_italic-webfont.svg#conduit_itc_lightitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.double-bx {
  -webkit-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1), inset 0px -10px 10px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1), inset 0px -10px 10px -6px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1), inset 0px -10px 10px -6px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1), inset 0px -10px 10px -6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1), inset 0px -10px 10px -6px rgba(0, 0, 0, 0.1);
}
.top-bx {
  -webkit-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 10px 10px -5px rgba(0, 0, 0, 0.1);
}
.orange {
  color: white;
  background-color: #ee851d;
}
.light-orange {
  background-color: rgba(73, 78, 80, 0.04);
}
.center {
  text-align: center;
}
html {
  color: #494e50;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.header-nav {
  padding: 10px 0;
}
.expand-menu {
  display: none;
}
.header-links {
  margin: 0;
  padding-top: 15px;
}
.header-links.visible {
  display: block;
}
.header-links > li > a,
.header-links > li.active > a,
.header-links > li > a:hover,
.header-links > li.active > a:hover {
  background-color: #fff;
  color: #494E50;
}
.header-links > li.active {
  font-weight: bold;
}
.header-logo {
  width: 150px;
  height: 65px;
}
header .title {
  display: none;
}
.landing-header .full-logo {
  width: 600px;
  height: 260px;
  margin: 80px auto 100px auto;
  position: relative;
}
.landing-header .full-logo .keywords {
  position: absolute;
  top: 160px;
}
.landing-header .full-logo .keywords h2 {
  color: #ee851d;
  font-family: 'conduit_itc_light-regular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
}
.htitle {
  display: none;
}
section {
  padding: 50px 0;
}
section h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'conduit_itc_light-regular', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
section h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'conduit_itc_light-regular', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  font-size: 40px;
}
section h3 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'conduit_itc_light-regular', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
section .text {
  font-size: 17px;
  line-height: 25px;
}
section em {
  display: block;
  width: 80%;
  padding-top: 10px;
  margin: 0 auto;
  font-size: 26px;
  line-height: 30px;
  font-family: 'conduit_itc_light-italic', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
section img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}
section a,
section a:hover {
  color: #ee851d;
  text-decoration: none;
}
#map_canvas {
  width: 100%;
  min-height: 400px;
}
.backphoto {
  background-image: url('images/bg.jpg');
  background-position: center;
}
.backphoto .box {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 40px 17px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 40px 17px rgba(255, 255, 255, 0.75);
  -o-box-shadow: 0px 0px 40px 17px rgba(255, 255, 255, 0.75);
  -ms-box-shadow: 0px 0px 40px 17px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 40px 17px rgba(255, 255, 255, 0.75);
}
.approche {
  background: rgba(73, 78, 80, 0.03);
}
footer {
  -webkit-box-shadow: inset 0px 10px 50px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 10px 50px -10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0px 10px 50px -10px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0px 10px 50px -10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 10px 50px -10px rgba(0, 0, 0, 0.4);
  background: #494e50;
  padding: 40px 0;
  color: white;
}
footer a {
  color: white;
}
footer a:hover {
  color: white;
}
footer ul {
  margin: 5px 0 20px 0;
  padding: 0;
}
footer li {
  display: inline-block;
  padding-left: 15px;
}
footer strong {
  font-weight: normal;
  font-size: 20px;
  font-family: 'conduit_itc_light-regular', "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}
footer .follow {
  width: 196px;
  height: 52px;
  margin: 0 auto;
  display: block;
}
footer .follow a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  height: 52px;
  width: 52px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
}
footer .follow a.twitter {
  background-image: url('images/twitter-w-32.png');
}
footer .follow a.twitter:hover {
  background-image: url('images/twitter-c-32.png');
}
footer .follow a.github {
  margin-left: 20px;
  background-image: url('images/octocat-w-32.png');
}
footer .follow a.github:hover {
  background-image: url('images/octocat-c-32.png');
}
footer .follow a.facebook {
  margin-left: 20px;
  background-image: url('images/f_logo-w-32.png');
}
footer .follow a.facebook:hover {
  background-image: url('images/f_logo-c-32.png');
}
footer .copyright {
  padding: 20px 0;
}
footer img.mslogo {
  width: 250px;
  display: block;
  margin: 20px auto 0 auto;
}
footer address strong {
  display: block;
  margin-bottom: 5px;
}
footer address .minimap {
  display: block;
  background-image: url('images/map-bw-med.png');
  float: left;
  margin-top: 20px;
  margin: 3px 10px 0px 1px;
  -webkit-box-shadow: 0 0 3px #ffffff;
  -moz-box-shadow: 0 0 3px #ffffff;
  -o-box-shadow: 0 0 3px #ffffff;
  -ms-box-shadow: 0 0 3px #ffffff;
  box-shadow: 0 0 3px #ffffff;
  width: 55px;
  height: 55px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer address .minimap:hover {
  -webkit-box-shadow: 0 0 10px #ffffff;
  -moz-box-shadow: 0 0 10px #ffffff;
  -o-box-shadow: 0 0 10px #ffffff;
  -ms-box-shadow: 0 0 10px #ffffff;
  box-shadow: 0 0 10px #ffffff;
  background-image: url('images/map-c-med.png');
}
footer .legal {
  margin: 30px 30px 0 30px;
}
@media (max-width: 767px) {
  .header-nav .header-logo {
    padding-left: 12px;
  }
  body {
    padding-left: 0;
    padding-right: 0;
  }
  section {
    padding-left: 45px;
    padding-right: 45px;
  }
  .landing-header .full-logo {
    width: 450px;
    height: 195px;
    margin: 30px auto 50px auto;
  }
  .landing-header .full-logo .keywords {
    top: 115px;
  }
  .landing-header .full-logo .keywords h2 {
    font-size: 26px;
    line-height: 30px;
  }
  footer {
    text-align: center;
  }
  footer .fellowus {
    padding-top: 20px;
  }
  footer .follow {
    text-align: center;
  }
  footer .address {
    margin-top: 20px;
    width: 100%;
    float: left;
    text-align: center;
  }
  footer address {
    width: 192px;
    text-align: left;
    margin: 0 auto;
  }
  footer address strong {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .landing-header .full-logo {
    width: 300px;
    height: 130px;
  }
  .landing-header .full-logo .keywords {
    top: 75px;
  }
  .landing-header .full-logo .keywords h2 {
    font-size: 20px;
    line-height: 25px;
  }
}
@media (max-width: 480px) {
  .header-nav {
    padding: 10px 0 0 0;
  }
  .header-nav .header-logo {
    padding-bottom: 12px;
  }
  .header-links {
    display: none;
    float: none;
    text-align: center;
    padding-top: 68px;
    margin-bottom: 20px;
  }
  .header-links li {
    float: none;
  }
  .expand-menu {
    float: right;
    display: block;
    padding-right: 10px;
  }
  .landing-header .title-bloc {
    margin: 30px 0;
  }
  section {
    padding: 25px;
  }
  section h2 {
    font-size: 30px;
  }
  section em {
    width: 100%;
  }
  .backphoto {
    background: rgba(73, 78, 80, 0.03);
  }
}
@media (max-height: 480px) {
  #map_canvas {
    min-height: 245px;
  }
}
@media (max-height: 320px) {
  #map_canvas {
    min-height: 175px;
  }
}
.infomap {
  padding: 10px;
}
.infomap a {
  float: right;
}
.infomap img {
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
}
#infomapTech,
#infomapHQ {
  display: none;
  visibility: none;
}
/*# sourceMappingURL=Site.css.map */